/* You can add global styles to this file, and also import other style files */
body {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b3e6eb, #6281c9);
  background: linear-gradient(to left, #b3e6eb, #6281c9);
}
#wrapper {
  width: 100%;
}

#wrapper h2 {
  margin: 20px 0px 5px 15px;
}

#wrapper h4 {
  margin: 0px 0px 15px 15px;
}

#addToList {
  width: 100%;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.281);
  border: darkblue solid 1px;
  border-radius: 10px;
  padding: 20px 0px;
}

#addToList p {
  width: 100%;
  text-align: start;
  padding: 0px 12px;
}

.textArea {
  width: 300px;
  height: 180px;
  border-radius: 8px;
}

#div-selector {
  padding-top: 8px;
}

#selector {
  margin: auto;
  width: 50%;
  background-image:
  linear-gradient(45deg, transparent 50%, rgb(66, 66, 66) 60%),
  linear-gradient(135deg, rgb(66, 66, 66) 40%, transparent 50%) !important;
background-position:
  calc(100% - 30px) 14px,
  calc(100% - 20px) 14px,
  100% 0;
background-size:
  10px 10px,
  10px 10px;
background-repeat: no-repeat;
-webkit-appearance: none;
-moz-appearance: none;
}

#div-button {
  padding-top: 8px;
}

.btn {
  width: 300px;
}

#list {
  width: 100%;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.281);
  border: darkblue solid 1px;
  border-radius: 10px;
  padding: 20px 0px;
  margin-top: 15px;
  min-height: 300px;
}

#list p {
  width: 100%;
  text-align: start;
  padding: 0px 12px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.white {
  color: white !important;
}

.strike-through {
  text-decoration: line-through;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 8em;
  max-height: 16em;
}

strong + small {
    display: block;
}

input[type=checkbox] {
  margin-right: 1em;
}

div.pull-right a {
  margin-left: 1em;
}
